{% extends 'page.twig' %}

{% block main %}
    <div class = "row">
        <div class = "Jumbotron">
            <div class = "row text-center">
                <h1>Welcome!</h1>
            </div>
            <div class = "row text-center">
                <a href="{{base}}/theme"><button type="button" class="btn btn-primary">View themes and topics</button></a>
            </div>
        </div>
    </div>
{% endblock main %}