{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a topic</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        {% for topic in topics %}
            <div class = "well">
                <h2>{{topic.title}}</h2>
                <p>{{topic.description}}</p>
            </div>
        {% endfor %}
    </section>
{% endblock main %}