{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a theme</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class = "col-md-8">
            {% for theme in themes %}
                <div class = "well">
                    <h2>{{theme.name}}</h2>
                    <a href = "{{base}}/theme/{{theme.name}}"><button type="submit" class="btn btn-primary">Explore</button></a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock main %}