{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a topic</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        {% for topic in topics %}
            <div class = "well">
                <h2>{{topic.title}}</h2>
                <p>{{topic.description}}</p>
            </div>
        {% endfor %}
        <div class = "well">
            <form action="{{base}}/topic" method = "post">
                <input type="text" class="form-control" name = "title" placeholder="topic name">
                <textarea class="form-control" rows="5" placeholder ="description of the topic" name = "description"></textarea>
                <button type="submit" class="btn btn-primary" name = "theme" value = "{{theme}}">add topic</button>
            </form>
        </div>
    </section>
{% endblock main %}