{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Select a module</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <form action="{{base}}/choose/theme" method="post">
        {% for theme in themes %}
            <div class = "well">
                <h2>{{theme.name}}</h2>
                <button type="submit" class="btn btn-primary" type="submit" name="theme" value = "{{theme.name}}">Select</button>
            </div>
        {% endfor %}
        </form>
    </section>
{% endblock main %}